nav {
  font-size: 15px;
  font-weight: 600;
  background-color: $nav-gray;

  a:hover {
    color: #000 !important;
  }

  ul {
    margin: 0;
    list-style-type: none;
    padding-top: 1em;

    @include breakpoint (small only) {
      text-align: center;
      background-color: #ddd;

      .selected {
        width: 95%;
        background-color: #888;

        a {
          color: $white !important;

          :hover {
            color: $white !important;
          }
        }
      }
    }

    &:before {
      content: 'Select a Playbook';
      display: block;
      text-align: center;
      color: $white;
      text-transform: uppercase;
      line-height: 2;
    }

    a {
      margin: 0 1em;
      display: block;
      padding: 0.75em 1.25em;
      text-transform: uppercase;
      border-left: 1em double $white;
      border-right: 1em double $white;
    }

    li {
      margin: 0;
      display: inline-block;
      width: 100%;
      line-height: 1;
      vertical-align: middle;
      margin-bottom: 1px;
      background-color: #c4c4c4;
      border-radius: 5px;
      margin: 0 auto;
      width: 90%;
      margin-bottom: 1px;
      white-space: nowrap;
    }
  }
}

@include breakpoint (medium up) {
  nav {
    background-color: $nav-gray;
    text-align: center;

    ul {
      padding: 0;

      &:before {
        display: none;
      }

      a {
        margin: 0;
        padding: 0.5em 1.25em;
        border: none;
      }

      li {
        padding: 10px 0 !important;
        width: auto;
        background: none;
        background-color: $nav-gray;
        border-radius: 0;
        margin-bottom: 0 !important;
        // width: 250px;

        &:not(.selected):hover {
          background-color: rgba($white, 0.45);
        }


      }
    }
  }
}

.cyclotron-logo {
  @include breakpoint (small only){
    max-width: 175px;
    margin-top: 15px;
  }

  @include breakpoint (medium up) {
    max-width: 20%;
  }
}