.play-row {
  h1 {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $whitest;
  }

  h2, h3, h4 {
    color: $font-light;
  }

  .play-intro {
    margin-top: 1em;
  }

  .play-content {
    color: $font-light;

    ol {
      margin: 0;
      padding: 0;
      counter-reset: item;
      margin-bottom: 2em;

      a {
        display: block;
        color: $light-blue;
        font-size: 1.2em;

        &:hover {
          text-decoration: underline;
        }

        &:before {
          content: counter(item) " - ";
          counter-increment: item;
          color: $light-blue;
        }
      }

      li {
        display: block;
        position: relative;
        padding: 1em 2em;
        border-bottom: 1px solid $whitest;

        &:before {
          content: '\f15b';
          font-family: FontAwesome;
          display: block;
          position: absolute;
          left: 0;
          height: 100%;
          background-color: #FFF;
          padding-right: 1em;
          color: $light-blue;
        }

        &.pdf:before {
          content: '\f1c1';
        }

        &.youtube:before {
          // content: '\f1c8'; // video icon
          content: '\f167'; // youtube logo
        }

        &.doc:before {
          content: '\f1c2';
        }

        &.ppt:before {
          content: '\f1c4';
        }

        &.rtf:before, &.txt:before {
          content: '\f15c';
        }

        &.xls:before {
          content: '\f1c3';
        }

        &.external:before {
          content: '\f08e';
          // content: '\f14c';
        }
      }
    }
  }
}