.play-row {
  h1 {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $whitest;
    margin-bottom: 1rem;

    .edit-icon {
      font-size: 1rem;
      color: $light-blue;
      float: right;
      display: block;
      padding: 1em;
    }
  }

  h2, h3, h4 {
    color: $font-light;
  }

  .play-intro {
    margin-top: 1em;
  }

  .play-footer {
    position: relative;
    margin-bottom: 2em;

    .edit-icon {
      position: absolute;
      bottom: 1em;
      right: 1em;
    }
  }

  .play-files {
    overflow: auto;
  }

  .play-content {
    color: $font-light;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: relative;
    margin: 0;
    overflow: auto;

    a {
      color: $light-blue;
    }

    .edit-icon {
      position: absolute;
      top: 1.5em;
      right: 1em;
    }

    ol {
      margin: 0;
      padding: 0;
      counter-reset: item;
      margin-bottom: 2em;

      p {
        margin-bottom: 0.25em;
      }

      li:nth-of-type(1n + 3):not(.show-more) {
        display: none;
      }

      .filename {
        display: block;
        font-size: 1.2em;

        &:hover {
          text-decoration: underline;
        }

        &:before {
          content: counter(item) " - ";
          counter-increment: item;
          color: $light-blue;
        }
      }

      .show-more {
        list-style-type: none;
        text-align: center;

        a {
          display: block;
          padding: 1em;
        }
      }

      &:target, &.target-active {
        li {
          display: block !important;
        }

        // .show-more {
        //   display: none !important;
        // }
      }

      li:not(.show-more) {
        display: block;
        position: relative;
        padding: 1em 2em;
        border-bottom: 1px solid $whitest;

        &:before {
          content: '\f15b';
          font-family: FontAwesome;
          display: block;
          position: absolute;
          left: 0;
          height: 100%;
          background-color: #FFF;
          padding-right: 1em;
          color: $light-blue;
        }

        &.pdf:before {
          content: '\f1c1';
        }

        &.youtube:before {
          // content: '\f1c8'; // video icon
          content: '\f167'; // youtube logo
        }

        &.doc:before {
          content: '\f1c2';
        }

        &.ppt:before {
          content: '\f1c4';
        }

        &.rtf:before, &.txt:before {
          content: '\f15c';
        }

        &.xls:before {
          content: '\f1c3';
        }

        &.external:before {
          content: '\f08e';
          // content: '\f14c';
        }
      }
    }
  }
}

.network-experts {
  padding: 1rem;
  margin-bottom: 0;
  text-align: center;

  + ul {
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    text-align: center;
    // max-height: 325px;
    overflow: auto;

    li {
      display: inline-block;
      max-width: 85px;
      vertical-align: top;
      margin: 0.5em;
      line-height: 1;

      > img {
        width: 50px;
        height: 50px;
        margin-bottom: 1em;
        border-radius: 25px;
        display: inline;
      }

      > a {
        font-size: 1.15em;
        display: block;
        margin-bottom: 0.5em;
      }
    }

    .slick-disabled {
      display: none !important;
    }
  }
}

@include breakpoint(medium up) {
  .network-experts {
    + ul {
      li {
        max-width: 150px;
      }
    }
  }
}