.playbook {
  h1:first-of-type {
    margin: 0;
  }
}

  .plays, .search-results {
    margin: 0;
    padding: 0;
    list-style-type: none;

    a {
      color: $light-blue;
      display: block;
      font-size: 1.25em;
      padding: 0.5rem 0.5rem;
      border-bottom: 1px solid $whitest;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 2em;

      &:active, &:hover {
        color: $white;
        background-color: $light-blue;
      }
      
      &::after {
        content: '\f0da';
        font-family: FontAwesome;
        display: block;
        position: absolute;
        top: 50%;
        right: 1em;
        line-height: 1;
        margin-top: -0.5em;
      }

      > div {
        font-size: 1rem;
        color: $font-light;
      }
    }
  }

.playbook-nav {
  position: absolute;
  right: -2.5em;
  top: 2em;

  a {
    color: $light-blue;
    font-weight: bold;
    padding: 0.73em 0.5em;
    display: block;
  }

  li {
    background-color: rgba(white, 0.25);
    display: block;
    text-align: center;
    border-radius: $global-radius;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-bottom: 1px;
    transition: background-color 0.5s;

    &:not(.selected):hover {
      background-color: rgba($light-blue, 0.95);

      a {
        color: $white;
      }
    }
  }

  .selected {
    background-color: $white;

    a {
      color: $dark-blue;
      font-weight: 600;
    }
  }
}

@include breakpoint (medium up) {
  .playbook-nav {
    right: -3em;
    top: 2.5em;

    a {
      padding: 0.73em;
    }
  }
}