.playbook {
  @include breakpoint (small only){
    padding-top: 30px;
  }

  h1:first-of-type {
    margin: 0 !important; 
  }
  padding-bottom: 10px;
}

  .selected {
    background-color: #888888;
    a {
      color: $white !important;
    }
  }

  .plays, .search-results {
    margin: 0;
    list-style-type: none;

    > li {
      border-bottom: 1px solid $whitest;

      > div.content {
        padding: 0px !important;
        white-space: normal !important;
        padding: .91rem 0.5rem !important;

        p {
          padding: 0px !important;
        }
      }

      > a {
        color: $orange;
        display: block;
        font-size: 1.25em;
        padding: .91rem 0.5rem !important;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 2em;

        &:active, &:hover {
          color: $white !important;
          background-color: $orange;
        }
        
        &::after {
          content: '\f054';
          font-family: FontAwesome;
          display: block;
          position: absolute;
          top: 50%;
          right: 1em;
          line-height: 1;
          margin-top: -0.5em;
          font-size: 14px;
        }

        @include breakpoint (small only){
          padding: .57rem 0.5rem !important;
        }

        > div {
          font-size: 1rem;
          color: $font-light;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  .plays {
    li {
      a {
        padding: 10px 30px;
        @include breakpoint (small only) {
          font-size: 17px;
          padding-right: 35px !important;
        }

        &:hover {
          color: white !important;
        }
      }
    }
  }

.playbook-nav {
  position: absolute;
  right: -46px;
  top: 1em !important;
  font-family: 'rajdhanisemibold';

  a {
    color: $white;
    font-weight: bold;
    padding: 0.73em 0.5em;
    display: block;
  }

  li {
    background-color: $light-brown;
    display: block;
    text-align: center;
    border-radius: $global-radius;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-bottom: 1px;
    transition: background-color 0.5s;

    &:not(.selected):hover {
      background-color: rgba($orange, 0.95);

      a {
        color: $white;
      }
    }

    .content {
      display: none;
    }
  }

  @include breakpoint (small only){
    right: -33px;
    margin-top: 10px;
    font-size: 15px;

    a {
      padding: 0.73em 0.25em;
    }
  }

  .selected {
    background-color: $white;

    a {
      color: $orange !important;
      font-weight: 600;
    }
  }
}

@include breakpoint (medium up) {
  .playbook-nav {
    right: -3.0em;
    top: 28px;
    font-family: 'rajdhanisemibold';
    font-size: 20px;
    color: #FFFFFF;
    line-height: 24px;

    a {
      padding: 0.73em;
      height: 56px;
      margin-bottom: 6px;
    }
  }
}