$global-width: 990px;
$global-radius: 5px;
$body-font-family: "futura-pt";
$global-weight-normal: 500;
$global-weight-bold: 600;

$header-styles: (
  'small': (
    'h1': ('fs': 1.5em ),
    'h2': ('fs': 1.25em ),
    'h3': ('fs': 1.25em ),
    'h4': ('fs': 1.15em ),
    'h5': ('fs': 1.15em ),
    'h6': ('fs': 1em )
  ),
  'medium': (
    'h1': ('fs': 2em ),
    'h2': ('fs': 1.75em ),
    'h3': ('fs': 1.5em ),
    'h4': ('fs': 1.25em ),
    'h5': ('fs': 1.15em ),
    'h6': ('fs': 1em )
  )
);