/******************************************************************
	
Stylesheet: Main Stylesheet

Here's where the magic happens. Here is where you import
all of your Sass files so they can compile into one
CSS file. 

******************************************************************/


// Import custom mixins
@import "mixins";

// Import local Foundation overrides - Don't link to Bower version as it will be overwritten whenever updated
@import "settings";
@import "fonts";
@import "../fonts/fonts.css";


@import "normalize.css";

@import "foundation-sites/scss/foundation.scss";
@include foundation-everything;

@import "font-awesome/scss/font-awesome.scss";

@import "slick-carousel/slick/slick.scss";

$white: #FFF;
$whitest: #E2E0DE;
$whiter: #CCC;
$light-blue: #5AC3F5;
$lighter-blue: #9BDAF9;
$dark-blue: #3B444B;
$font-light: #6B6560;
$footer-background-color: #F2F2F2;

// TW Styles

$nav-gray: #C4C4C4;
$body-gray: #DDDDDD;
$footer-gray: #F2F2F2;
$orange: #F0940C;
$light-brown: #A39A94;


@import "nav.scss";
@import "playbook.scss";
@import "play.scss";
@import "tree-view.scss";

body {
  background-color: $body-gray;
}

#header {
  @include breakpoint (small only) {
    background-image: url('/themes/vbtk/images/barn_mobile.jpg');
    background-size: contain;
    background-color: $nav-gray;
    padding-top: .25rem;
  }


  color: $white;
  background-image: url('/themes/vbtk/images/barn.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
  padding-top: 1rem;

  h1 {
    @include breakpoint (small only) {
      line-height: 55px;
      margin-bottom: 0;
    }
    color: inherit;
    text-transform: uppercase;
    font-family: FuturaPT-Medium;
    font-size: 40px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 55px;

    a {
      color: $white;
    }
  }

  a {
    color: black;

    &:hover {
      color: inherit;
    }
  }

  .row {
    position: relative;
  }

  .icons {
    @include breakpoint (small only) {
      margin-top: 12px;
    }

    position: absolute;
    top: 0;
    right: 1em;
    color: $white;

    > .fa, > a {
      font-size: 1.5rem;
      color: $white;
    }

    .fa-creative-commons {
      margin-right: 0.5rem;
      color: $white;
    }
  }

  .view-mode {
    text-transform: uppercase;
    line-height: 0.5;
    display: inline-block;
    font-size: 0.75em;

    @include breakpoint (small only) {
      margin-bottom: 18px;
    }

    @include breakpoint (435px) {
      position: absolute;
      top: 1rem;
      right: 7em;
    }

    &:before {
      content: 'View As: ';
      display: inline-block;
      margin-right: 0.5em;
    }

    a:first-of-type {
      &:after {
        content: '|';
        color: $white;
        text-decoration: none;
        display: inline-block;
        margin: 0 0.5em;
      }
    }

    a {
      font-weight: 600;
      font-size: inherit;
      color: $white;
      text-decoration: underline;
    }

    .active {
      color: $orange;
      text-decoration: none;
    }
  }

  form {
    color: $dark-blue;
    display: block;
    white-space: nowrap;
    height: 2rem;
    padding-right: 2em;
    margin-bottom: 1rem;
    margin-top: 0.5em;

    input {
      color: inherit;
      border-radius: $global-radius;
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
      background-color: #DEDEDE;
      display: inline-block;
      margin: 0;
      padding: 0 1em;
      border: none;
      height: 100%;
      vertical-align: top;
    }

    button {
      color: inherit;
      margin: 0;
      padding: 1em 0.5em;
      line-height: 0;
      display: inline-block;
      background-color: $white;
      border-radius: $global-radius;
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;
      vertical-align: top;
      line-height: 0;
      height: 100%;
      max-width: 2em;

      i {
        line-height: 0;
      }
    }
  }
}


#container {
  margin: 3.5em 1em 3em 1em;
  padding: 2em 5m;
  padding-right: 0.75em;
  background-color: #FFF;
  position: relative;
  border-radius: $global-radius;
  overflow: visible;
  max-width: $global-width;
  border: 1px solid #E7E7E7;

  @include breakpoint (medium up) {
    padding: 2em 4.5em 2em 3.75em;
  }

  h1,h2,h3,h4,h5,h6 {
    color: $light-brown;
    text-transform: uppercase;
  }
}

#content {

  h1:first-of-type {
    @include breakpoint (small only) {
      font-family: FuturaPT-Medium;
      font-size: 30px;
      color: #A39A94;
      line-height: 24px;
      margin: 30px 0 0 10px;
      padding: 0 0 20px;
    }

    padding: 0 1.7rem 0.5rem;
    border-bottom: 1px solid $whitest;
    margin-bottom: 20px;
  }

  p {
    @include breakpoint (small only) {
      padding: 0.75rem;
      margin-bottom: 5px;
    }

    padding: 0 6rem 0 1.55rem;
    font-family: MyriadPro-Regular;
    font-size: 16px;
    color: #382F2D;
    line-height: 20px;
  }

  > .column {
    padding-left: 0;
    padding-right: 0;
  }

  a {
    color: $orange;
  }

  plays {
    li {
    a:hover {
        color: $white;
      }
    }
  }

}


.footer-container {
  background-color: $footer-gray;
  
  @include breakpoint (small only) {
    padding: 20px 10px;
  }

  @include breakpoint (medium only) {
    padding: 20px 40px;
  }

  @include breakpoint (large up) {
    padding: 30px 225px;
  }

  h1 {
    font-family: FuturaPT-Medium;
    font-size: 17px;
    color: #6B6560;
    line-height: 24px;
    text-transform: uppercase;
  }

  p {
    font-family: MyriadPro-Regular;
    font-size: 13px;
    color: #6B6560;
    line-height: 20px;
  }

  a {
    color: $orange;
  }

  ul {
    margin: 0;
    list-style-type: none;
    padding: 0 20px !important;

    li {
      display: inline-block;
      text-align: center;
      width: 30%;
      min-width: 105px;
      vertical-align: middle;
      text-transform: uppercase;
      padding: 0.5em;
      // background-color: #FFF;
    }
  }

  .community {
    h1 {
      text-align: center;
      margin-bottom: 40px;
    }
  }

  .join-community {
    h6 {
      /* Want to use the play: */
      font-family: FuturaPT-Demi;
      font-size: 13px;
      color: #6B6560;
      line-height: 18px;
      text-transform: uppercase;
      margin-bottom: -1px;

      a {
        font-family: MyriadPro-Regular;
        font-size: 13px;
        line-height: 20px;
        text-transform: none;
      }
    }
  }

  .partners, .contributors {
    h6 {
      font-size: 12px;
      color: #6B6560;
      line-height: 13px;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .partners {
    ul {
      border: solid $white 3px;
      padding: 35px 40px;
    }
  }

  .slick-prev {
    float: left;
    margin-top: 70px !important;
    position: absolute !important;
    left: 0;
    top: 0;
    margin-left: -55px !important;
    color: #959595;
  
    &:before {
      content: '\f0d9';
      font-family: FontAwesome;
      font-size: 30px;
      display: block;
      position: absolute;
      left: 0;
      padding-right: 1em;
      margin-left: 20px;
    }
  }

  .slick-next {
    float: right;
    margin-top: 70px !important;
    position: absolute !important;
    top: 0;
    left: 100%;
    margin-left: 25px !important;
    color: #959595;

    &:before {
      content: '\f0da';
      font-family: FontAwesome;
      font-size: 30px;
      display: block;
      position: absolute;
      left: 0;
      padding-right: 1em;
      margin-left: 0;
    }
  }
}

#footer {
  color: $font-light;
  padding: 2rem 0.5em 1rem 0;
  margin-top: 2em;
  background-color: $footer-background-color;
  overflow: auto;

  @include breakpoint (medium up) {
    padding: 2rem 1rem 1rem;   
  }

  a {
    color: $orange;
    text-transform: none;
    font-weight: normal;
  }

  h1, h2, h3, h4, h5, h6 {
    color: inherit;
  }

  h1, h2 {
    font-size: 1em;
  }

  h3, h4, h5, h6 {
    font-weight: bold;
  }

  ul {
    margin: 0;
    list-style-type: none;

    li {
      display: inline-block;
      text-align: center;
      width: 30%;
      min-width: 105px;
      vertical-align: middle;
      text-transform: uppercase;
      padding: 0.5em;
      // background-color: #FFF;
    }
  }

  .join-community {
    position: relative;

    i {
      font-size: 2em;
      color: $white;
      position: absolute;
    }

    .fa-creative-commons {
      top: 0;
      right: 1.25em;
      color: $white;
    }

    .fa-github {
      top: 0;
      right: 0;
      color: $white;
    }
  }

  .community {
    margin-bottom: 1.5em;

    h1, h2 {
      text-align: center;
    }
  }

  .partners {
    margin-bottom: 1em;

    h1, h2, h3 {
      text-align: center;
    }

    ul {
      border-radius: $global-radius;
      display: inline-block;
      border: 5px solid $white;
      text-align: center;

      li {
        display: inline-block;
        padding: 0.5em;
        width: 50%;

        @include breakpoint (medium) {
          padding: 0.5em 1em;
        }

        @include breakpoint (large up) {
          padding: 1em;
        }
      }
    }
  }

  .contributors {
    position: relative;

    ul {
      li {
        width: 115px; 
      }
    }

    .slick-prev {
      position: absolute !important;
      top: 50% !important;
      left: -0.5em !important;
      margin-top: -2em !important;
      z-index: 10 !important;
    }

    .slick-next {
      position: absolute;
      top: 50%;
      right: -0.5em;
      margin-top: -0.5em;
      z-index: 10;
    }

    // &:hover {
    //   ul {
    //     top: -1em;
    //   }
    // }
  }
}

@include breakpoint(480px) {
  #header {
    form {
      float: right;
      margin-top: -1.5em;
    }

    h1 {
      margin-top: 0.5rem;
      font-size: 2.75em;
    }
  }
}


@include breakpoint(560px) {
  #header {
    form {
      text-align: right;
      padding-right: 0;

      input {
        width: 305px;
      }
    }

    .view-mode {
      font-size: 1em;
      right: 6em;
    }
  }
}

@include breakpoint (medium up) {
  nav {
    label[for="playbook"] {
      left: 3.5em;
    }
  }

  #header {
    padding-top: 1rem;
  }

  #container {
    margin-right: 3.5em;
  }

  #footer {
    padding: 2rem 2rem 1rem 2rem;

    h1, h2 {
      font-size: 1.25em;
    }
  }
}

@include breakpoint ($global-width + 100px) {
  #header {
    h1 {
    }

    form {
    }
  }

  #container {
    margin-left: auto;
    margin-right: auto;
  }

  #footer {
    h1, h2 {
      font-size: 1.5em;
    }
  }
}

.single-time-credits {
  padding-left: 25px;
}

.file-content {
  p {
    font-family: MyriadPro-Regular !important;
    font-size: 13px !important;
    color: #382F2D;
    line-height: 20px;
    padding: 0 25px !important;
  }
}

.edit-h2 {
  text-transform: none !important;
  padding-left: 25px;
  font-family: FuturaPT-Medium;
  font-size: 25px;
  color: #6B6560 !important;
  line-height: 24px;
  margin-bottom: 15px;

  a {
    color: $orange;
    font-size: 20px;
    margin-left: 20px;
  }
}

.partial-divider {
  width: 60px;
  margin-left: 25px;
}

.read-time {
  display: inline-block
}


.linkedin-credits {
  display: inline-block;
  list-style: none;
  margin-bottom: 0;

  li {
    display: inline-block;

    a {
      font-family: MyriadPro-Regular;
      font-size: 13px;
      color: #7A7A7A;
      line-height: 20px;
    }
  }

  &:before {
    @extend .fa, .fa-linkedin;
    border: #7A7A7A solid 1px;
    border-radius: 200px;
    padding: 5px 6px;
    color: #7A7A7A;
    font-size: 14px; 
    display: inline-block;
    margin-left: 10px;
    margin-right: 7px;
  }
}

.download {
  text-align: center;
  padding-top: 7px;
  display: block;
  border: 1px solid $orange;
  color: $orange;
  font-family: FuturaPT-Medium;
  font-size: 15px;
  color: #F0940C;
  line-height: 25px;
  margin-left: 25px;
  width: 140px;
  height: 40px;
  border-radius: 30px;
}


.home-popular-slider {
  margin-top: 60px;
  h1 {
    border-bottom: none !important;
    margin-bottom: 0 !important;
    font-family: FuturaPT-Medium !important;
    font-size: 25px !important;
    color: #6B6560 !important;
    line-height: 24px !important;
  }

  .slick-prev {
    float: left;
    margin-top: 70px !important;
    position: absolute !important;
    left: 0;
    top: 0;
    margin-left: -55px !important;
    color: #959595;
  
    &:before {
      content: '\f0d9';
      font-family: FontAwesome;
      font-size: 30px;
      display: block;
      position: absolute;
      left: 0;
      padding-right: 1em;
      margin-left: 20px;
    }
  }

  .slick-next {
    float: right;
    margin-top: 70px !important;
    position: absolute !important;
    top: 0;
    left: 100%;
    margin-left: 25px !important;
    color: #959595;

    &:before {
      content: '\f0da';
      font-family: FontAwesome;
      font-size: 30px;
      display: block;
      position: absolute;
      left: 0;
      padding-right: 1em;
      margin-left: 0;
    }
  }

  ul {
    margin: 0;

    li {
      list-style-type: none;
      margin: 0;

      a {
        color: $orange;
        display: block;
        font-size: 1.25em;
        padding: .5rem 1.70rem;
        border-bottom: 1px solid #e2e0de;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 2em;

        &:hover {
          color: $orange;
        }

        &::after {
          content: '\f054';
          font-family: FontAwesome;
          display: block;
          position: absolute;
          top: 50%;
          right: 1em;
          line-height: 1;
          margin-top: -0.5em;
        }
      }
    }
  }
}

// Home -> Most Popular Resorces

.home-popular-resources {
  
  h1 {
    font-family: FuturaPT-Medium;
    font-size: 25px;
    color: #6B6560 !important;
    line-height: 24px;
    border-bottom: none !important;
    margin-bottom: 0 !important;
    text-transform: none !important;
  }

  ul {
    margin: 0;

    li {
      list-style-type: none;
      margin: 0;
      border-bottom: 1px solid #e2e0de;
      padding-left: 25px !important;
      padding-bottom: 15px;
      font-family: MyriadPro-Regular;
      font-size: 13px;
      color: #382F2D;
      line-height: 20px;

      a {
        color: $orange;
        display: block;
        font-size: 1.25em;
        padding: .5rem;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 2em;
        padding-left: 0;
        padding-top: 17px;
        font-family: FuturaPT-Medium;
        font-size: 20px;
        color: #F0940C;
        line-height: 24px;

        &:hover {
          color: $orange;
        }

        &::after {
          content: '\f054';
          font-family: FontAwesome;
          display: block;
          position: absolute;
          top: 75%;
          right: 1em;
          line-height: 1;
          margin-top: -0.5em;
          font-size: 14px;
        }
      }
    }
  }

  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #e2e0de;
}

.slick-active:focus {
  outline:0;
}

.slick-dots li button { 
   font-size: 0; 
} 

.slick-dots {
  list-style-type: circle;
}