/******************************************************************
	
Stylesheet: Main Stylesheet

Here's where the magic happens. Here is where you import
all of your Sass files so they can compile into one
CSS file. 

******************************************************************/


// Import custom mixins
@import "mixins";

// Import local Foundation overrides - Don't link to Bower version as it will be overwritten whenever updated
@import "settings";
@import "fonts";
@import "../fonts/fonts.css";


@import "normalize.css";

@import "foundation-sites/scss/foundation.scss";
@include foundation-everything;

@import "font-awesome/scss/font-awesome.scss";

$white: #FFF;
$whitest: #E2E0DE;
$whiter: #CCC;
$light-blue: #5AC3F5;
$lighter-blue: #9BDAF9;
$dark-blue: #3B444B;
$font-light: #6B6560;

@import "nav.scss";
@import "playbook.scss";
@import "play.scss";

body {
  background-color: $dark-blue;
}

#header {
  color: $white;
  background-color: $light-blue;
  margin-bottom: 2rem;
  padding-top: 2rem;

  h1 {
    color: inherit;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    margin-bottom: 1rem;
  }

  a {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }

  form {
    color: $dark-blue;
    display: block;
    white-space: nowrap;
    height: 2rem;
    padding-right: 2em;
    text-align: center;
    margin-bottom: 1rem;

    input {
      color: inherit;
      border-radius: $global-radius;
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
      background-color: $lighter-blue;
      display: inline-block;
      margin: 0;
      padding: 0 1em;
      border: none;
      height: 100%;
      vertical-align: top;
      max-width: 350px;
    }

    button {
      color: inherit;
      margin: 0;
      padding: 1em 0.5em;
      line-height: 0;
      display: inline-block;
      background-color: $white;
      border-radius: $global-radius;
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;
      vertical-align: top;
      line-height: 0;
      height: 100%;

      i {
        line-height: 0;
      }
    }
  }
}


$notebook-ring-color: #CCC;
#container {
  margin: 2em 3em 2em 1em;
  padding: 2em 1.5em;
  padding-right: 0.75em;
  background-color: #FFF;
  position: relative;
  border-radius: $global-radius;
  overflow: visible;
  max-width: $global-width;
  border: 1px solid #000;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);

  @include breakpoint (medium up) {
    padding: 2em;
  }

  &::after {
    content: ' ';
    display: block;
    position: absolute;
    background-image: inline-svg('
      <svg width="30" height="30" viewBox="0 0 30 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <rect id="r" fill="' + $notebook-ring-color + '" transform="rotate(-20)" x="0" y="0" width="30" height="7" rx="3.5"></rect>
      </svg>');
    background-repeat: repeat-y;
    background-position: center top;
    top: 5%;
    height: 90%;
    left: -13px;
    width: 30px;
  }

  h1,h2,h3,h4,h5,h6 {
    color: $dark-blue;
    text-transform: uppercase;
  }
}

#content {
  // overflow: auto;

  h1:first-of-type {
    padding: 0.5rem 0.5rem;
    margin: 0;
    border-bottom: 1px solid $whitest;
  }

  > .column {
    padding-left: 0;
    padding-right: 0;
  }

}

#footer {
  color: $font-light;
  padding: 2rem 0.5em 1rem 0;
  margin-top: 2em;
  background-color: #F2F2F2;
  overflow: auto;

  @include breakpoint (medium up) {
    padding: 2rem 1rem 1rem;   
  }

  a {
    color: $light-blue;
    text-transform: none;
    font-weight: normal;
  }

  h1, h2, h3, h4, h5, h6 {
    color: inherit;
  }

  h1, h2 {
    font-size: 1em;
  }

  h3, h4, h5, h6 {
    font-weight: bold;
  }

  ul {
    margin: 0;
    list-style-type: none;

    li {
      display: inline-block;
      text-align: center;
      width: 30%;
      min-width: 105px;
      vertical-align: middle;
      text-transform: uppercase;
      padding: 0.5em;
      // background-color: #FFF;
    }
  }

  .join-community {
    position: relative;

    i {
      font-size: 2em;
      color: #000;
      position: absolute;
    }

    .fa-creative-commons {
      top: 0;
      right: 1.25em;
    }

    .fa-github {
      top: 0;
      right: 0;
    }
  }

  .community {
    margin-bottom: 1.5em;

    h1, h2 {
      text-align: center;
    }
  }

  .partners {
    margin-bottom: 1em;

    h1, h2, h3 {
      text-align: center;
    }

    ul {
      border-radius: $global-radius;
      display: inline-block;
      border: 5px solid $white;
      text-align: center;

      li {
        display: inline-block;
        padding: 0.5em;
        width: 50%;

        @include breakpoint (medium) {
          padding: 0.5em 1em;
        }

        @include breakpoint (large up) {
          padding: 1em;
        }
      }
    }
  }

  .contributors {
    overflow: hidden;
    position: relative;

    ul {
      max-height: 100px;
      // position: absolute;
      overflow: auto;

      li {
        width: 115px; 
      }
    }

    // &:hover {
    //   ul {
    //     top: -1em;
    //   }
    // }

    &:after {
      font-family: FontAwesome;
      content: '\f054';
      position: absolute;
      right: 0;
      top: 50%;
      cursor: pointer;
    }
  }
}

@include breakpoint(380px) {
  #header {
    form {
      float: right;
    }
  }
}

@include breakpoint (medium up) {
  nav {
    label[for="playbook"] {
      left: 3.5em;
    }
  }

  #container {
    margin-right: 3.5em;
  }

  #footer {
    padding: 3rem 2rem 1rem 2rem;

    h1, h2 {
      font-size: 1.25em;
    }
  }
}

@include breakpoint ($global-width + 100px) {
  #header {
    h1 {
      font-size: 2.75em;
    }

    form {
      margin-top: 0.75em;
    }
  }

  #container {
    margin-left: auto;
    margin-right: auto;
  }

  #footer {
    h1, h2 {
      font-size: 1.5em;
    }
  }
}
