<div class="row">
	<div class="column">
        {% for page in pages|sort_by(['meta', 'section'])
        	if page.meta.section
        	and current_page.id|replace({'/index': ''}) in page.id %}
            <h2>{{ page.title }}</h2>

            {{ page.id|content }}
        {% endfor %}
	</div>
</div>