{% extends "_layout.twig" %}

{% block content %}
<div class="column playbook">
	<h1>Table of Contents</h1>

	<ul class="plays">
        {% for page in pages|sort_by(['meta', 'play'])
        	if page.meta.play
        	and current_page.id|replace({'/index': ''}) in page.id %}
            <li>
            	<a href="{{ page.url|replace({'/index': ''}) }}">
                	{{ page.meta.play }}. {{ page.title }}
                </a>
            </li>
        {% endfor %}
	</ul>
</div>
{% endblock %}